body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    overflow-x: hidden;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
}

.welcome {
    border: 2px solid #333;
    padding: 5px 10px;
}

.cart {
    font-size: 24px;
    color: #333;
}

.border {
    border: 1px solid #ccc;
    padding: 10px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    flex: 1;
    padding: 10px;
}

.text-danger {
    color: red;
 
}

.form-group {
    margin-bottom: 10px;
}

.price {
    font-size: 14px;
}

.font-weight-bold {
    font-weight: bold;
}

.text-right {
    text-align: right;
}

.pl-5 {
    padding-left: 1.25rem;
}

.input-group {
    display: flex;
    width: 100%;
}

.form-control {
    flex: 1;
    padding: 5px;
}

.btn {
    padding: 5px 10px;
    background-color: #ffffff;
    color: #000000;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar ul {
        margin-top: 10px;
    }

    .col {
        flex-basis: 100%;
    }
}


.dark-slider.round {
    border-radius: 34px;
}

.dark-slider.round:before {
    border-radius: 50%;
}

.submit-btn {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #0056b3; 
}

@media (max-width: 576px) {
    .container {
        padding: 10px;
    }

    .navbar ul li {
        margin-right: 10px;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 2px solid #000;
    padding: 10px 0;
}

.logo {
    font-size: 24px;
}

nav {
    flex-grow: 1;
}

.menu-toggle {
    display: none;
    cursor: pointer;
}

.menu-toggle .line {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px;
}

.menu-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
    margin-left: 50px;
}

.menu-items.show {
    display: block;
}

.menu-items li {
    display: inline;
    margin-right: 15px;
}

.menu-items li a {
    text-decoration: none;
    color: #333;
}

.user-actions {
    display: flex;
    align-items: center;
}

.shopping-cart img {
    width: 30px;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
    padding-right: 20px;
}
.logoimg {
    max-width: 75px;
    max-height: 75px;
    padding-left: 20px;
}

footer {
    background-color: #333;
    color: #fff;

    text-align: center;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
   
}

footer ul {
    list-style-type: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
}

.dark-mode-switch {
    margin-right: 10px;
}

.dark-mode-switch input[type="checkbox"] {
    display: none;
}

.dark-mode-switch .toggle {
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 20px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.dark-mode-switch .toggle:before {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border-radius: 50%;
    top: 1px;
    left: 1px;
    transition: transform 0.3s ease;
}

.dark-mode-switch input[type="checkbox"]:checked + .toggle:before {
    transform: translateX(20px);
    background-color: #333;
}

.user-actions button,
.actions button {
    background-color: #ffffff;
    color: #000;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    margin-right: 10px;
}
.buttons{
    color: #ffffff;
}


.menu-items .buttons:hover,
.menu-items .buttons:focus,
.actions .buttons:hover,
.actions .buttons:focus {
    background-color: #706267;
}

.user-actions .buttons:hover,
.user-actions .buttons:focus {
    background-color: #706267;
}
@media only screen and (max-width: 768px) {
    .menu-items {
        display: none;
    }
    .shopping-cart {
        display: none;
    }
    .dark-mode-switch {
        display: none;
    }
  
    .menu-toggle {
        display: block; 
        position: fixed;
        top: 30px;
        right: 10px;
        z-index: 999; 
    }

    .darkmodeDiv {
        text-align: center;
    }
  
    .user-actions button {
        display: none;
    }

    .user-actions button.mobile-menu-item {
        display: inline-block;
    }
  
    .footer ul {
        text-align: center;
    }
    .menu-container {
        display: flex;
        flex-direction: column;
    }
    
    .menu-item {
        display: none;
    }
    
    .menu-item:first-child {
        display: block;
    }
    .mobile-menu-item {
        display: block !important;
    }
   
}
