body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}
footer {
  background-color: #333;
  color: #ffffff;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid #000;
  padding: 10px 0;
}

.logo {
  font-size: 30px;
}

nav {
  flex-grow: 1;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.menu-toggle .line {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 5px;
}

.menu-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: left;
  display: flex;
  margin-left: 50px;
}

.menu-items a {
  text-decoration: none;
  color: #333;
  margin-right: 15px;
}

.user-actions {
  display: flex;
  align-items: center;
}

.user-actions button {
  width: 100px;
  height: 40px;
}

.shopping-cart img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  cursor: pointer;
  padding-right: 20px;
}

.logoimg {
  max-width: 75px;
  max-height: 75px;
  padding-left: 20px;
}

footer {
  background-color: #333;
  color: #ffffff;

  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a {
  text-decoration: none;
  color: #fff;
}

.dark-mode-switch {
  margin-right: 10px;
}

.dark-mode-switch input[type="checkbox"] {
  display: block;
}

.dark-mode-switch .toggle {
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.dark-mode-switch .toggle:before {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  border-radius: 50%;
  top: 1px;
  left: 1px;
  transition: transform 0.3s ease;
}

.dark-mode-switch input[type="checkbox"]:checked + .toggle:before {
  transform: translateX(20px);
  background-color: #333;
}

.user-actions button,
.actions button {
  background-color: #f5f4f4;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color 100ms, color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-right: 10px;
}

.user-actions button:hover,
.user-actions button:focus {
  background-color: #706267;
}

.container {
  position: relative;
}

.reservation-container {
  display: flex;

  margin-top: 70px;
}

.date-container,
.time-container {
  width: calc(50% - 2px); /* Adjust according to your layout preference */
  padding: 10px;
  box-sizing: border-box;
}

.date-box,
.time-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  background-color: #ffffff;
}
.date-box:hover,
.time-box:hover {
  background-color: grey;
}

.date-box.selected,
.time-box.selected {
  background-color: #66bb6a;
  color: white;
}

.confirm-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  color: white;
  background-color: #41373b;
}

.reservation-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  color: #ffffff;
}

button {
  background-color: #f7f2f2;
  color: #000000;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 18px;
}

button:hover {
  background-color: #706267;
}

@media only screen and (max-width: 768px) {
  body {
    background-image: url(images/luxa.org-opacity-changed-background.png);
  }
  .menu-items {
    display: none;
  }
  .shopping-cart {
    display: none;
  }
  .dark-mode-switch {
    display: none;
  }

  .menu-toggle {
    display: block;
    position: fixed;
    top: 30px;
    right: 10px;
    z-index: 999;
  }

  .darkmodeDiv {
    text-align: center;
  }

  .user-actions button {
    display: none;
  }

  .user-actions button.mobile-menu-item {
    display: inline-block;
  }

  .footer ul {
    text-align: center;
  }
  .menu-container {
    display: flex;
    flex-direction: column;
  }

  .menu-item {
    display: none;
  }

  .menu-item:nth-child(3) {
    display: block;
    width: 350px;
    height: 400px;
  }
  .mobile-menu-item {
    display: block !important;
  }
  .footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .actions {
    display: none;
  }
  footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    position: relative;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 1000px) {
  .actions {
    display: none;
  }
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    position: absolute;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .menu-items {
    display: none;
  }
  .shopping-cart {
    display: none;
  }
  .dark-mode-switch {
    display: none;
  }

  .menu-toggle {
    display: block;
    position: fixed;
    top: 30px;
    right: 10px;
    z-index: 999;
  }

  .darkmodeDiv {
    text-align: center;
  }

  .user-actions button {
    display: none;
  }

  .user-actions button.mobile-menu-item {
    display: inline-block;
  }

  .footer ul {
    text-align: center;
  }
  .menu-container {
    display: flex;
    flex-direction: column;
  }

  .menu-item {
    display: none;
  }

  .menu-item:nth-child(3) {
    display: block;
    width: 350px;
    height: 400px;
  }
  .mobile-menu-item {
    display: block !important;
  }
  /* Hide menu by default */
  .menu.hidden {
    display: none;
  }

  /* Style for the dropdown menu */
  .menu {
    background-image: url(images/luxa.org-opacity-changed-background.png);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(240, 240, 240);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: -10px;
    padding: 20px;
    padding-right: 60px;
    list-style-type: none;
    z-index: 999; /* Ensure it's above other content */
    overflow-y: auto; /* Enable scrolling if menu is too long */
  }

  .menu li {
    margin-bottom: 20px;
  }

  .menu li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
  }

  /* Style for the hamburger menu toggle */
  .menu-toggle {
    cursor: pointer;
    display: block;
    position: fixed;
    top: 30px;
    right: 10px;
    z-index: 1000; /* Ensure it's above the menu */
    margin-right: 20px;
    margin-top: 5 px;
  }

  .menu-toggle div {
    width: 25px;
    height: 3px;
    background-color: rgb(0, 0, 0);
    margin: 5px 0;
    transition: transform 0.4s;
  }

  .menu-toggle.active div:first-child {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu-toggle.active div:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active div:last-child {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .carousel {
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .carousel-inner {
    display: flex;
  }

  .carousel-item {
    flex: 0 0 auto;
    width: 100%;
  }

  .carousel-item img {
    width: 100%;
    height: auto;
  }

  .carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: white;
    font-size: 24px;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 50%;
  }

  .carousel-control.prev {
    left: 0;
  }

  .carousel-control.next {
    right: 0;
  }

  body {
    background-image: url(images/luxa.org-opacity-changed-background.png);
  }
  .shopping-cart-icon img {
    height: 25px;
    width: 25px;
  }
  .shopping-cart-icon {
    margin-left: 90px;
    position: absolute;
    right: 75px;
    top: 30px;
  }
  .backbutton {
    margin-left: 10px;
  }
  .logo-container {
    margin-left: 120px;
    margin-top: 20px;
  }
  .logoimg {
    height: 40px;
    width: 40px;
  }
  /* Pagination Dots */
  .carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .dot {
    width: 12px;
    height: 12px;
    background-color: #bbb;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .dot.active {
    background-color: #555;
  }
  .carousel-item img {
    width: 350px;
  }
  .carousel {
    display: flex;
    justify-content: center;
    padding-top: 20px;
  }

  .dark-mode {
    background-color: #222;
    color: #fff;
  }

  /* Switch styles */
  .switch {
    position: absolute;
    display: inline-block;
    width: 40px;
    height: 20px;
    right: 20px;
    top: 235px;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 20px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }

  input:checked + .slider {
    background-color: #1eff00;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #00ff2a;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
  }
  .darkModeContainer {
    display: flex;
    flex-direction: row;
  }
  .dark-mode {
    background-color: #222;
    color: #fff;
  }
  .dark-mode .menu {
    background-color: #000;
  }
  .dark-mode .shopping-cart-icon img {
    content: url(images/whitecart.png);
  }
  .dark-mode .menu li a {
    color: #fff;
  }
  .dark-mode .menu-toggle div {
    background-color: white;
  }
  .dark-mode .confirm-button {
    background-color: rgb(82, 82, 82);
  }
  .dark-mode header {
    border-bottom: 2px solid white;
  }
  .dark-mode .menuoption {
    border: 1px solid rgb(255, 255, 255);
    border-left: none;
    border-top: none;
    border-right: none;
  }
  .dark-mode .menuoption1 {
    border: 1px solid rgb(255, 255, 255);
    border-left: none;
    border-top: none;
    border-right: none;
  }
  .dark-mode .time-box {
    color: black;
  }
  .dark-mode .date-box {
    color: black;
  }
  .dark-mode .menuOuter {
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    width: 80%;
    border-radius: 20px;
    margin-top: 80px;
    margin-left: 10px;
    margin-right: -600px;
  }
  .menuoption1 {
    border: 1px solid black;
    border-left: none;
    border-top: none;
    border-right: none;
  }
  .menuoption {
    border: 1px solid black;
    border-left: none;
    border-top: none;
    border-right: none;
  }
  .menuoption1 li {
    margin-top: 15px;
  }
  .menuoption li {
    margin-top: 15px;
  }
  .menuoption li a {
    margin-left: 15px;
  }
  .menuoption1 li a {
    margin-left: 15px;
  }
  .ratingReview li {
    margin-top: 15px;
  }
  .ratingReview li a {
    margin-left: 15px;
  }
  .menuOuter {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    width: 80%;
    border-radius: 20px;
    margin-top: 80px;
    margin-left: 10px;
    margin-right: -600px;
  }
  footer {
    background-color: #333;
    color: #ffffff;
    text-align: center;
    position: absolute;
    width: 100%;
  }

  footer ul {
    list-style-type: none;
    padding: 0;
  }

  footer ul li {
    margin-bottom: 10px;
  }

  footer ul li a {
    text-decoration: none;
    color: #fff;
  }
  .option2 {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(201, 197, 197, 0.381);
    width: 100vw;
    text-align: center;
    border: 2px solid black;
  }
  .option1 {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(109, 104, 104, 0.329);
    width: 100vw;
    text-align: center;
  }
}
